@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');


html {
    font-family: tisa;
}

#customheader {
    width: 100%;
    height: 70px;
    background-color: #0dcaf0;
}

#footer-name-about {
    font-family: tisa;
}

#footer-name-languages {
    font-family: tisa;
}

#footer-name-frameworks {
    font-family: tisa;
}

#footer-name-contact {
    font-family: tisa;
}

#project-header1 {
    font-family: tisa;
    font-size: 200%;
}

#project-header2 {
    font-family: tisa;
    font-size: 200%;
}

#contactMe-form {
    text-align: center;
    align-items: center;
}

.fname {
    text-align:center;
}

.profile-pic-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    max-width: 100%;
}

.project-pic-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
}

.my-title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profile-pic {
    border-radius: 10px;
    width: 40%;
    margin: 5px;
}

.project-pic {
    border-radius: 10px;
    width: 200%;
    max-width: 200%;
    height: auto;
}

h1 {
    position: absolute;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family: tisa;
}

h2 {
    font-family: tisa;
    font-size: 250%;
}

li {
    display: inline-block;;
    padding: 15px 30px;
}

ul {
    width: auto;
    float: right;
    margin-top: 8px;
}

a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: "Roboto Slab", serif;
}

.view-code-button {
    background-color: #0dcaf0;
    padding: 10px;
    color: black;
    border-radius: 5px;
    font-family: tisa;
}

.navbar-button {
    font-family: tisa;
    text-decoration: none;
}

.view-code-button:hover {
    background-color: #20adc9;
    transition: 0.5s;
    text-decoration: none;
}

a:hover {
    color: #000000;
    transition: 0.5s;
    text-decoration: none;
}

span {
    color: #ffffff;
}

.aboutme-text {
    font-size: 150%;
    margin: 0 auto;
    width: 60%;
}


/* ul li:hover > ul {
    display: block;
    list-style: none;
} */
    

input[type=text]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 25%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: tisa;
  }  

.button {
    background-color: #0dcaf0;
    border-radius: 4px;
    border: none;
    padding: 12px 28px;
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
}

.button:hover {
    background-color: #20adc9;
}

.dropdown-item {
    font-family: tisa;
}

.form-title {
    font-family: tisa;
    color: black;
    font-size: 120;
}

#About-me-and-fun-facts {
    font-size: 175%;
}

#Web-development-interests {
    font-size: 175%;
}

#interest-lists {
    font-size: 140%;
}

#student-buttons {
    top: 10;
}

@font-face {
    font-family: tisa;
    src: url("fonts/TisaSansPro-Black.ttf") format("truetype");
}
  