html {
    text-align: center;
    font-family: tisa;
}

body {
    background-color: #d8e9f3;
}

h1 {
    font-size: 250%;
}

ul {
    text-align: center;
    list-style: inside;
    font-size: 140%;
}

nav {
    background: #8dbdd8;
    padding: 17px;
    margin-bottom: 50px;
    border-radius: 10px;
}

a {
    color: #303C6C
}

input[type=text]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 25%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: tisa;
  }  

.button {
    background-color: #D2FDFF;
    border-radius: 4px;
    border: none;
    padding: 12px 28px;
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
}

.button:hover {
    background-color: #B4DFE5
}

#About-me-and-fun-facts {
    font-size: 175%;
}

#Web-development-interests {
    font-size: 175%;
}

#interest-lists {
    font-size: 140%;
}

#student-buttons {
    top: 10;
}

@font-face {
    font-family: tisa;
    src: url("fonts/TisaSansPro-Black.ttf") format("truetype");
}