html {
    text-align: center;
    font-family: tisa;
}

body {
    background-color: #FBE8A6;
}

h1 {
    font-size: 250%;
}

ul {
    text-align: center;
    list-style: inside;
    font-size: 140%;
}

nav {
    background: #F4976C;
    padding: 17px;
}

a {
    color: #303C6C
}

.button {
    background-color: #D2FDFF;
    border-radius: 4px;
    border: none;
    padding: 12px 28px;
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
}

.button:hover {
    background-color: #B4DFE5
}

#About-me-and-fun-facts {
    font-size: 175%;
}

#Web-development-interests {
    font-size: 175%;
}

#interest-lists {
    font-size: 140%;
}

#student-buttons {
    top: 10;
}

@font-face {
    font-family: tisa;
    src: url("fonts/TisaSansPro-Black.ttf") format("truetype");
}